@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$board-bg-color: #0079BF;
$appbar-bg-color: #0067A3;
$list-bg-color: #ebecf0;
$common-element-bg-color: rgba(255,255,255,0.5);
$gap : 10px;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 8px;
$card-border-radius  : 4px;

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
}
.trello-master {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $board-bg-color ;
    .navbar-app {
        padding-left: $gap;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        background-color: $appbar-bg-color;
    }
    .navbar-board {
        padding-left: $gap;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        background-color: $board-bg-color;
    }

    .board-contents {
        display: flex;
        overflow-x: auto;
        margin: 0  $gap 0 $gap;
        padding-bottom: $gap;
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          
        }
        &::-webkit-scrollbar:horizontal {
          height: $gap;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $common-element-bg-color;
          border-radius: $gap ;
        }
        .column {
            flex: 0 0 auto;
            width: calc(100% /4.3);
            height: calc(100% -#{$gap});

            &:not(:first-child){
              margin-left: $gap;
            }
            > * {
                background-color: $list-bg-color;
                color: #333;
                padding: 0  $gap;
            }
            header {
                padding-left: $gap;
                height: $column-header-height;
                line-height: $column-header-height;
                font-size: 1.5rem;
                font-weight: bold;
                border-top-left-radius: $column-border-radius;
                border-top-right-radius: $column-border-radius;
              }
              footer {
                padding-left: $gap;
                height: $column-footer-height;
                line-height: $column-footer-height;
                border-bottom-left-radius: $column-border-radius;
                border-bottom-right-radius: $column-border-radius;
              }
          
              ul {
                list-style: none;
                margin: 0;
                max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
                //tao cropped to , thanh cuon , chieu doc
                overflow-y: auto;
                &::-webkit-scrollbar {
                  -webkit-appearance: none;
                }
                &::-webkit-scrollbar:vertical {
                  width: $gap;
                }
                &::-webkit-scrollbar-thumb {
                  background-color:darken($list-bg-color, 15);
                  border-right: 5px solid $list-bg-color;
                }
                li {
                    background-color: #fff;
                    padding: $gap;
                    border-radius: $card-border-radius ;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2 );
                    // user-select: none;
                    &:not(:last-child){
                      margin-bottom: $gap;
                    }
                    img {
                      display: block;
                      width: calc(100% + 2 *#{$gap});
                      margin: -$gap $gap $gap (-$gap);
                      border-top-left-radius: $card-border-radius;
                      border-top-right-radius: $card-border-radius;
                    }
                    
                  }
              }

        }
    }
}